.card {
        height: 310px;
        position: relative;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        transition: 1s;
        &:hover {
            transform: translateY(-50px);
        }
  
    &:hover .back-card {
         display: block;
    }
    .back-card {
        width: 220px;
        height: 100%;
        color: whitesmoke;
        background-color: rgba(5, 5, 5, 0.616);
        position: absolute;
        display: none;
        overflow-y: auto;
        border-radius: 20px;
      }

      .back-card::-webkit-scrollbar {
          width: 1px;
      }
    }

    .language {
        
        img {
            width: 40px;
            height: 20px;
            object-fit: cover;
            
        }
    }
    img {
        width: 220px;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    a, .card {
        border-radius: 51%;
    }

.vote {
    display: flex;
    i {
        color: rgba(251, 255, 8, 0.781);
    }
}
